*{
    margin: 0;
    font-family: Outfit, sans-serif;
    color: white;
}

.outfit-<uniquifier> {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

:root {
    --primary-bg: #0D3D60;
    --btnColors: #0078d7;
    --secondary-bg: #194F76;
    --font-colors: #aec1cf;
    --dark-button: #032340;
}

body {
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}


html{
    /* overflow-y: scroll; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

/* FONTS */

h1 {
    font-size: clamp(2.5rem, 6vw, 4rem);
    color: white;
    line-height: clamp(2.8rem, 6vw, 4.5rem);
}

h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    color: white;
    line-height: clamp(2.5rem, 5.5vw, 4rem);
}

h3 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: white;
    line-height: clamp(2rem, 4.5vw, 4rem);
}

p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: var(--font-colors);
    font-weight: lighter;
}



/* END OF FONTS */

/* BUTTONS */

.container a:hover{
    color: #0fefff;
}


 .button-container{
    display: flex;
    gap: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    }

.button-container-wrapper{
    display: flex;
    gap: 2rem;
}


.button-1{
    background-color: var(--btnColors);
    padding: 1rem;
    width: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    border-radius: 10rem;

    transition: color 0.3s ease
}

.btnFont{
    font-size: 1.5rem;
    text-decoration: none;
}

.button-1:hover {
    background-color: var(--dark-button);
    color: var(--btnColors);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.button-2 {
    position: relative;
    background-color: transparent;
    padding: 1rem;
    width: 10rem;
    text-align: center;
    border-radius: 10rem;
    border: 3px solid var(--btnColors);
    color: var(--btnColors);
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
    display: inline-block;
}

.button-2::before {
    content: '';
    position: absolute;
    top: 1%;
    left: -100%;
    width: 100%;
    height: 100%;
    
    background-color: var(--btnColors);
    transition: all 0.5s ease;
    z-index: 0;
}

.button-2:hover::before {
    left: 0%;
}

.button-2 span {
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: color 0.3s ease;
}

.button-2:hover span {
    color: white;
}

.button-1:hover span {
    color: var(--btnColors);
}

.btnSmaller{
    font-size: 1rem;
}

/* END OF BUTTONS */

/* MENU CSS */

.menu{
    /* background-color: red; */
    width: 80%;
    height: 10vh;

    display: flex;
    justify-content: space-between;

    background-color: transparent;

    z-index: 10;

}

.logo{
    width: 30rem;
    background-color: white;
    border-radius: 0 0 3rem 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}


.logo a{
    display: flex;
    justify-content: center;
}

.menu img{
    width: 80%;
}

.menu-items a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
}

.menu-items{
    display: flex;
    gap: 3rem;
    align-items: center;
}

/* END OF MENU CSS */


/* HERO PAGE CSS */

.hero-page{
    width: 80%;
    height: 90vh;

    display: flex;
}

.hero-page h1{
    font-size: 7rem;
    line-height: 6rem;
}

.hero-page-left{
    padding: 5rem 0rem 10rem 10rem;
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-page-right{
    width: 70%;
    /* background-color: red; */

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.heroImg{
    width: 30%;

    position: absolute;
}

.char-1 {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 28%;
  rotate: 25deg;
  transform: scaleX(-1);
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.char-2{
    position: absolute;
    width:40%;
    left: 45%;
    transform: scaleX(-1);
    rotate: -15deg;

    transition: transform 0.1s ease-out;
    will-change: transform;
}

.char-3{
    position: absolute;

    width: 20%;
    left: 70%;
    top: 45%;
    rotate: -15deg;

    transition: transform 0.1s ease-out;
    will-change: transform;
}

.logo-hero{
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
    will-change: transform;
}


/* BLOB */

.blob {
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at 30% 30%, #0fefff, #727071);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 70%;
  animation: float 2s ease-in-out infinite, pulse 2s ease-in-out infinite;
  filter: blur(60px);
  z-index: -11;
}

/* Floating animation */
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Pulsating size animation */
@keyframes pulse {
  0%, 100% {
    transform: scale(2);
  }
  50% {
    transform: scale(2.5);
  }
}



/* END OF BLOB */

/* END OF HERO PAGE CSS */


/* LET'S TALK! */

.content-3 {
    height: 50vh;
    background-color: #286583;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    overflow: visible;
    position: relative;
}

.content-3-wrapper{
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: center;
    overflow: visible;
}


.content-3-left{
    display: flex;
    flex-direction: column;

    width: 60%;

    gap: 1rem;
}

.content-3-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    
}


.meet-img{
    z-index: 1;
}

.content-3 img{
    width: 40%;
    margin-top: -10vh;
}

/* END OF LET'S TALK */

/* START OF SERVICES */
.services{
    width: 100%;
    height: 65vh;
    background: linear-gradient(90deg, #401559 0%, #003256 100%);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.services-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5rem;
}

.services-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    transform: translateY(0) scale(1);
    transition: transform 0.3s ease-in-out;
}

.services-box:hover{
    transform: scale(1.05);
}

.services-box img{
    width: 60%;
}

.services-box{
    width: 10em;
    height: 10em;
    border: rgba(190, 231, 247, .3) 2px solid;
    border-radius: 20%;
    margin-top: -10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0) scale(1);
    transition: transform 0.3s ease-in-out;
}

/* END OF SERVICES */

/* START OF COLLABORATE */

.collaborate-bg{
    height: 35vh;
    width: 100%;
    background: #061520;
    display: flex;
    align-items: center;   
    justify-content: center;
}

.collaborate{
    height: 30vh;
    width: 55%;
    background: linear-gradient(90deg, #B1FFF6 0%, #26A5FF 100%);
    border-radius: 5vh;
    margin-top: -20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.collaborate h3{
    color: #003256;
}


/* END OF COLLABORATE */


/* START OF PORTFOLIO CSS */

.new-portfolio{
    height: auto;
    width: 100%;
    display: flex;
    background-color: white;
    padding: 5rem 0 5rem 0;
}

.portfolio-hero{
    height: auto;
    width: 100%;
    padding: 2rem 0 2rem 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    z-index: 0;

    gap: 5rem;
}



.portfolio-hero p{
    width: 50%;
    text-align: center;
}

.portfolio-hero a{
    position: relative;
    z-index: 1;
}

.leadership{
    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    /* background-color: red; */

}

.portfolio-cs-team-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slice{
    height: 25vh;
    width: 0.3%;
    background-color: rgb(255,255,255);
}

.pic img{
    width: 10rem;
}

.pic p, .pic h3{
    width: 100%;
    text-align: center;
}

.portfolio-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: -10vh;
    z-index: 0;
}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1; 
    pointer-events: none; 
}

.portfolio-header-wrapper {
    position: relative;
    z-index: 1;

    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 3rem;

    color: white;
    margin-top: 10rem;
}

.portfolio-header-wrapper p, h1 {
    width: 50%;
    text-align: center;
}

.portfolio-header-wrapper h1{
    font-family: "Water Brush", cursive;
    font-size: clamp(4rem, 8vw, 8rem);
    line-height: clamp(4rem, 8vw, 8rem);
}
.index1 {
    z-index: 1;
}


/* START OF CREATIVE SERVICES BANNER */
.cs-banner{
    height: 50vh;
    background-color: rgb(22, 40, 68);
    /* background-color: red; */
    width: 100%;
    /* z-index: 1; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.cs-banner-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5rem;
}

.icons-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5rem;
}
.icons{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    gap: 2rem;
}

.icons h3, .icons p{
    font-size: 1.2rem;
}

.icons img{
    width: clamp(2rem, 5vw, 5rem);
}

/* END OF CREATIVE SERVICES BANNER */
.portfolio-main{
    height: auto;
    width: 100%;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
}

.portfolio-wrapper{
    width: 80%;
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;
    
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
}

.portfolio-child{
    width: 60%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;

    background-color: rgb(111, 130, 156);

    transition: filter 0.3s ease;
}

.portfolio-child:hover {
    filter: grayscale(100%);
}




/* END OF PORTFOLIO CSS */



/* START OF ABOUT US */

.aboutus-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 90vh;
    overflow-y: hidden;
    background: url(assets/bg.png) no-repeat center center;
    background-size: cover;
}

.aboutus-hero-top{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 1rem;
    /* margin-top: -5rem; */
    
}

.aboutus-hero-top p{
    font-weight: 200;
    color: white;
}
.sales-team-container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;    
}

.sales-team-container-title p{
    width: 50%;
    text-align: center;
}

.aboutus-hero h1{
    font-size: 5rem;
}

.aboutus-hero-top p{
    width: 60%;
}
.aboutus-hero-bot{
    display: flex;
    justify-content: center;
}

.aboutus-hero-bot img{
    width: 50%;
}

.blob-aboutus{
    top: 80%;
    left: 50%;
}

.about-button-container{
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 2rem;
}

.new-leadership-team-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    background-color: #fff;;
}

.new-leadership-team-box{
    transition: 0.3s ease;
}

.new-leadership-team-box:hover{
    transition: 0.3s ease;
}

.bio {
  position: absolute;
  width: 100%;

  text-align: center;
  top: 70%;
  left: 50%;
  
  text-shadow: 1px 1px 15px rgb(11, 15, 38);
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;

  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  font-size: 2rem;
}

.new-leadership-team-box:hover .bio {
  opacity: 1;
}

.new-leadership-team-content{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5rem;
}

.new-leadership-team-box-wrapper{
    display: flex;
    gap: 5rem;
    justify-content: center;
    width: 100%;
}

.new-leadership-team-box .wrdw-leadership-text {
    transition: 0.3s ease;
    display: flex;
}

.new-leadership-team-box {
  display: flex;
  flex-direction: column;
  width: 20rem;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2rem;

  text-decoration: none;
}

.img-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 /1 ;
  overflow: hidden;
}

.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  transition: 0.3s ease;
}

.new-leadership-team-box .wrdw-leadership-text{
    width: 20rem;
    padding: 1rem 0 1rem 0;
    transition: 0.3s ease;
}

.img-default {
  opacity: 1;
  z-index: 1;
}

.img-hover {
  opacity: 0;
  z-index: 2;
}

.img-wrapper:hover .img-default {
  opacity: 1; 
  border-radius: 0 5rem 0 0;
  transition: 0.3s ease;
}

.img-wrapper:hover .img-hover {
  opacity: 1;  
  border-radius: 0 5rem 0 0;
  transition: 0.3s ease;
}

.img-wrapper:hover{
    box-shadow: -8px 8px 0 rgb(38, 62, 149);
}

.new-leadership-team-content h1, 
.new-leadership-team-content p,
.new-leadership-team-content h3,
.new-leadership-team-content span{
    color: var(--dark-button);
}

.new-leadership-team-box-wrapper .wrdw-leadership-text p{
    color: var(--dark-button);
    font-weight: 300;
    text-align: left;
}

strong{
    font-weight: 800;
    color: var(--btnColors);
}

.new-leadership-team-box .wrdw-leadership-text p{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}

.bio-text{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
}

.bio-text-left{
    width: 70%;
}

.bio-arrow{
    width: 30%;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    transition: 0.3s ease;
}

.bio-arrow img{
    width: 40%;
}

.new-leadership-team-box:hover .bio-arrow{
    opacity: 1;
    transition: 0.3s ease;
}

/* END OF ABOUT US */


/* OUR CHANNEL */

.line{
    height: 1vh;
    width: 100%;
}

.divider-1{
    background-color: #0078d7;
}

.divider-2{
    background-color: white;
}

.divider-3{
    background-color: red;
}

.our-channels-container{
    height: 77vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
    width: 100%;
    overflow-y: hidden;
    background: url(assets/ourchannels-bg.png) no-repeat center center;
    background-size: cover;
}

.our-channels-top{
    height:auto;
    width: 80%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    align-content: center;
}

.our-channels-top h1{
    color: #12579f;
    text-align: center;
}

.channel-icon-container{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    align-content: center;

    width: clamp(2rem, 5vw, 5rem);
    height: auto;
    text-align: center;
    padding: 1rem;

    /* border: 2px solid white; */
    border-radius: 2rem;

    transform: translateY(0) scale(1);
    transition: transform 0.3s ease-in-out;
}


.channel-icon-container:hover{
    transform: scale(1.05);
}

.channel-icon-container h3{
    color: var(--dark-button);
    line-height: 20px;
}

.channel-icon-container img{
    width: 80%;
}

.our-channels-bot{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 60%;

    justify-content: center;
    align-items: center;
}

.our-channels-bot h3{
    font-size: clamp(1rem, 1vw, 1.5rem);
}
/* END OF OUR CHANNEL */

/* MORE WAYS TO WATCH */
.more-ways-container{
    height:75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5rem;
    
    background: url(assets/bg.png) no-repeat center center;
    background-size: cover;
}

.more-ways-top h1, .more-ways-top-floating h1{
    display: inline-block;
    transform: skew(10deg);
    font-style: italic;
}

.more-ways-top{
    display: flex;
    justify-content: center;
    width: 50%;

    background-color: red;
    transform: skew(-10deg); /* slants the background */
    padding: 0.2em 0.5em;
}

.more-ways-top h1{
    width: 100%;
}

.transparent-text {
  font-family: 'Monoton', sans-serif; /* or another hollow/outline font */
  font-size: 4rem;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: .50px white;
  text-stroke: 2px white;
}

.more-ways-bot{
    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;

    gap: 5rem;
    width: 80%;
}

.more-ways-bot h3{
    line-height: 2rem;
}

.more-ways-bot-child{
    width: 40%;
    height: 35vh;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.55);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.more-ways-logos{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:3rem;
}

.more-ways-logos img{
    width: 18%;
}

/* END OF MORE WAYS TO WATCH */

/* SALES TEAM CONTAINER */

.sales-team-container{
    width: 100%;
    height: auto;
    background: linear-gradient(-180deg, #022f52 0%, #000e18 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5rem;
    gap: 5rem;
}

.wrdw-leadership-container{
    display: flex;
    width: 80%;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wrdw-leadership-child{
    display: flex;
    flex-direction: column;
    width: 15vw;

    justify-content: center;
    align-items: center;
    align-content: center;
    
    gap: -2rem;
}

.wrdw-leadership-child img{
    width: 10rem;
}

.wrdw-leadership-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.wrdw-leadership-text bold{
    font-weight: bold;
}

.wrdw-leadership-text p{
    font-size: 1.2rem;
    text-align: center;
}

hr{
    width: 40%;
    border: 1px solid var(--btnColors);
}

/* END OF SALES TEAM CSS */

/* NEW PORTFOLIO */

/* FOOTER */

.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0 1rem 0 1rem;
}

.footer p{
    font-size: 1rem;
    padding: .5rem;
}

/* FOOTER */

/* BIOS */

.bio-wrapper{
    height: auto;
    width:100%;

    display: flex;
    background: linear-gradient(-180deg, var(--primary-bg) 0%, #000e18 100%);
    align-content: center;
    justify-content: center;
}

.bio-wrapper-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    padding-top: clamp(5rem, 10rem, 10rem);
    padding-bottom: 10rem;
}

.bio-wrapper-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: clamp(5rem, 10rem, 10rem);
    padding-bottom: 10rem;
}

.bio-wrapper img{
    width: 65%;
    border-radius: 2rem;
    }

/* END BIOS */

/* TESTIMONIALS */

.testimonial{
    width: 100%;
    height: auto;
    padding: 3rem 0 3rem 0;

    background-color: #162844;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.testimonial-wrapper{
    width: 80%;
    height: auto;
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;

    flex-wrap: wrap;
    gap: 3rem;
}

.testimonial-1{
    width: 30%;
    height: 35vh;
    aspect-ratio: 16/9;

    background: linear-gradient(-45deg,
    #0a1628 0%, 
    #101f38   100%);
    
    display: flex;
    flex-direction: column;
    justify-content: ce;
    align-content: center;
    align-items: center;

    border-radius: 1rem;

    /* border: 3px solid;
    border-image: linear-gradient(-45deg, 
    #24395b, 
    #081222) 1; */
}

.testimonial-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #081222;
    box-sizing: border-box;
    padding:1rem;
    gap: 1rem;
    border-radius: 1rem 1rem 0 0;
}

.testimonial-bot{
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.testimonial-1 p{
    font-size: 1rem;
    text-align: left;
}

.testimonial-top img{
    width: 20%;
    height: auto;
}

.testimonial-1 strong{
    color: #0fefff;
    font-size: 2rem;
}

.h-line{
    width: 100%;
    height: .2rem;
    background: linear-gradient(90deg, #214379 0%, #26A5FF 100%);;
}

/* END OF TESTIMONIAL */


/* WHAT WE DO */

.sec-2{
    height: auto;
    width: 100%;
    padding: 2rem 0 2rem 0;

    display: flex;
    justify-content: center;

    /* background-color: rgb(192, 166, 166); */
    background-color: white;

    margin-top: -2rem;
}

.sec-2 h1{
    color: var(--btnColors);
    width: 100%;
    text-align: left;
}

.sec-2-child{
    
    height: auto;
    width:80%;
    display: flex;
}

.sec-2-child-left{
    width: 50%;
    background: url(assets/bldg.jpg);
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    border-radius: 3rem;
}

.sec-2-child-right{
    width: 50%;
    display: flex;
    flex-direction: column;

    padding-left: 5rem;

    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    text-align: left;

    gap: 1.5rem;
}

.sec-2-child-right a, .sec-2-child-right i{
    color: var(--btnColors);
    font-size: 1.5rem;
    text-decoration: none;
}

.sec-2-child i{
    font-size: 1rem;    
}

ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li{
    color: var(--btnColors);
}

.sec-2-child-right .button-1:hover{
    background-color: var(--dark-button);
}

.sec-2-child-right video{
    border-radius: 2rem;
}

.wave-top{
    width: 100%;
    margin-top: -20rem;
}

.padtop{
    padding: 10rem 0 5rem 0;
}

/* END OF WHAT WE DO */

/* TV SERVICES */



.tv-services {
    width: 100%;
    padding: 5rem 0 5rem 0 ;
    color: #fff;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tv-services-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.tv-services-box {
    background: linear-gradient(45deg, var(--dark-button) 0%, var(--primary-bg) 100%);
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid #0078d7;
    width: calc(33.333% - 2rem);
    min-width: 280px;
    transition: transform 0.3s ease;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

.tv-services-box:hover {
    transform: translateY(-5px);
}

.tv-services-box h1 {
    color: #0fefff;
    width: 100%;
    font-size: 2.5rem;
    display: flex;
}

.tv-services p{
    margin-top: -1rem;
}

.tv-services-box li, .tv-services h1{
    color: white;
}

.tv-services-box li{
    color: white;
    font-weight: 150;
}

.tv-services h1{ 
    width: 100%;
}


.tv-services-box-header{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.tv-services-box-header-text{
    width: 80%;
}
.tv-services-box-header-img{
    width: 20%;
}

.tv-services-box-header-img img{
    width: 100%;
}

.darkbg{
    background-color: var(--dark-button);
}

.darkbg{
    background-color: var(--dark-button);
}

.tv-services-streaming{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 60%;
}

.wrap-4{
    width: 70%;
}

.tv-services-streaming-box{
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    padding: 2rem;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3rem;

    background: linear-gradient(45deg, var(--dark-button) 0%, var(--primary-bg) 100%);
    border: 1px solid var(--btnColors);
    border-radius: 2rem;
    transition: transform 0.3s ease;
}

.tv-services-streaming-box:hover{
    transform: translateY(-5px);
}

.tv-services-streaming-box img{
    width: 50%;
}

.tv-services-streaming-box p{
    font-size: 1.2rem;
    text-align: center;
}

.tv-services-streaming-box-icon,
.tv-services-streaming-box-text{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.box-size{
    width: 40rem;
    height: 25rem;
    background-color: red;
}

.no-bg{
        background:none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* END OF SERVICES */










































/* REVEAL ANIMATIONS */

.reveal-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active,
.reveal-left.active,
.reveal-right.active {
  opacity: 1;
  transform: translateX(0) translateY(0);
}




/* END OF REVEAL ANIMATIONS */





























/* PORTFOLIO BACKGROUNDS */

.finch{
    background-image: url(assets/finch.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.platts{
    background-image: url(assets/platts.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fresh-take{
    background-image: url(assets/freshtake.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
















/* RESPONSIVE */
@media (max-width: 768px){
    .blob, .hero-page-right{
        display: none;
    }
    .menu{
        width: 100%;
        height: auto;
        gap: 1rem;
    }

    .logo{
        height: auto;
        padding: .5rem 0 .5rem 0;
        width: 100%;
        border-radius: 0;
    }

    .contact-min-width{
        height: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wave-top{
        display: none;
    }

    .menu a, .btnFont{
        font-size: clamp(0.875rem, 2.5vw, 1rem);
    }

    .menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-page-left, .button-container{
        padding: 0;
        width: 100%;

        display: flex;

        justify-content: center;
        justify-items: center;
        align-content: center;
        text-align: center;

        flex-wrap: wrap;
    }

    .button-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .content-3{
        height: auto;
        padding: 2rem 0 2rem 0;
    }

    

    .content-3 img{
        display: none;
    }

    .content-3-wrapper{
        width: 100%;
        text-align: center;
    }

    .content-3-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services{
        display: flex;
        flex-wrap: wrap;
        height: 25vh;
    }

    .services-wrapper{
        display: none !important;
    }

    .services img{
        width: 30%;
    }





    .portfolio-hero, .cs-banner{
        height: auto;
        padding: 2rem 0 2rem 0;
    }

    .portfolio-hero p{
        line-height: 1rem;
        padding: 1rem;
    }

    .leadership{
        flex-direction: column;
        width: 100%;
    }

    .slice{
        display: none; 
    }
    

    .collaborate h1, .portfolio-hero h1{
        font-size: clamp(1.5rem, 4vw, 2rem);
    }

    .collaborate{
        text-align: center;
    }

    .collaborate h3, .portfolio-hero h3 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    }

    /* LEADERSHIP */

    .leadership{
        width: 100%;
        text-align: center;
    }

    .icons-wrapper p{
        font-size: .8rem;
        width: 100%;
    }

    .icons{
        width: 100%;
    }

    .icons-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .cs-banner-wrapper h1{
        text-align: center;
    }

    .portfolio-main{
        height: auto;
        padding-bottom: 5rem;
    }

    .portfolio-wrapper{
        width: 100%;

        display: flex;

        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .portfolio-header, 
    .portfolio-header-wrapper{
        height: auto;
        padding-bottom: 1rem;
    }

    .portfolio-header-wrapper p,
    .aboutus-hero-top p {
        width: 90%;
    }

    .portfolio-child{
        width: 80%;
    }

    /* ABOUT US */
    .aboutus-hero{
        height: auto;
        padding-bottom: 1rem;
    }
    .aboutus-hero h1, .sales-team-container h1, .our-channels-container h1{
        font-size: 2rem;
        text-align: center;
    }

    .sales-team-container h3{
        font-size: 1rem;
    }

    .about-button-container{
        flex-direction: column;
        gap: 1rem;
        height: auto;

        justify-content: center;
        align-items: center;
    }

    .aboutus-hero-top{
        height: auto;
    }

    .wrdw-leadership-container{
        width: 90%;
        flex-wrap: wrap;
    }

    .wrdw-leadership-child{
        width: 35%;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .our-channels-container{
        height: auto;
        padding: 2rem;
    }

    .more-ways-container{
        padding: 2rem;
    }
    .more-ways-container, .more-ways-bot{
        height: auto;
        flex-direction: column;
    }

    .more-ways-bot-child{
        width: 90%;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .more-ways-top h1{
        text-align: center;
    }

    .more-ways-top{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutus-hero-bot img{
        display: none;
    }

    .channel-icon-container{
        width: 25%;
    }

    /* NEW ABOUT US PAGE */
    .new-leadership-team-box-wrapper{
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .new-leadership-team-box:hover {
        background-color: unset !important;
        box-shadow: none !important;
        transform: none !important;
    }

    .new-leadership-team-box:hover .img-default {
        display: block !important;
    }

    .new-leadership-team-box:hover .img-hover {
        display: none !important;
    }

    .new-leadership-team-box span{
        display: none !important;
    }

   .sales-team-container-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
   }

   .bio-arrow{
        opacity: 1;
        transition: 0.3s ease;
    }

    .footer{
        flex-direction: column;
        text-align: center;
    }

    .footer p{
        font-size: .8rem;
    }

    .our-channels-bot{
        width: 90%;
    }

    /* BIO */

    .bio-wrapper{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .bio-wrapper img{
        width: 100%;
        border-radius: 2rem;
    }

    .bio-wrapper-left{
        padding: 2rem 0 2rem 0;
        width: 90%;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 1.5rem;
    }

    .bio-wrapper-right{
        padding: 2rem 0 2rem 0;
        width: 90%;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        font-size: 1.5rem;
    }

    /* TESTIMONIAL */

    .testimonial{
        width: 100%;
        justify-content: flex-start;
        align-content: flex-start;
        
    }

    .testimonial-wrapper{
        width: 80%;
        flex-direction: column;
    }

    .testimonial-1{
        width: 90%;
        height: auto;
    }
    
    .testimonial-1 strong{
        font-size: clamp(1.2rem, 1.5rem, 1.5rem);
    }

    .testimonial img{
        width: 30%;
    }


    /* WHAT WE DO */

    .sec-2{
        width: 100%;
        flex-direction: column;
    }

    .sec-2-child{
        flex-direction: column;
        width: 100%;

        justify-content: center;
        align-items: center;
        align-content: center;

        gap: 2rem;
    }

    .sec-2-child-left{
        height: auto;
        width: 90%;
        order: -1;
    }

    .with-bg{
        background: url(assets/bldg.jpg);
        height: 50vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .padtop{
        padding: 5rem 0 5rem 0;
    }

    .sec-2-child-right{
        width: 90%;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        align-content: center;

        text-align: center;

        padding: 0;
    }

    .mobile-ul{
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .mobile-ul li{
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .sec-2-child-right h1{
        text-align: center;
    }

    video{
        width: 90%;
    }

    .button-container-wrapper{
        display: flex;
        flex-direction: column;
    }

    .no-bg{
        background:none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* RESPONSIVE END */